body {
    font-family: sans-serif;
    
}

header{
    background-color: lightblue;
}

.info{
    background-color: lightgreen;
}

.info2{
    background-color: lightcoral;
}

.info3{
    background-color: lightsalmon;
}

.info4{
    background-color: aquamarine;
}
